
@media only screen and (min-width: 300px) {
    h1.te {color: chartreuse;}

  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  @media (min-width: 560px) {
    .md\:flex-row {
        flex-direction: row;
    }
}
textarea:focus, input:focus{
  outline: none;
}
